/*font import*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/*var*/
:root{
    --headerHeight : 3rem;
    /*main color*/
    --hueColor: 51;
    /*colors*/
    --firstColor: hsl(var(--hueColor),89%,51%);
    --firstColorSecond: hsl(var(--hueColor),69%,61%);
    --firstColorAlt: hsl(var(--hueColor),57%,53%);
    --firstColorlighter: hsl(var(--hueColor),92%,85%);
    --titleColor: hsl(var(--hueColor),8%,15%);
    --textColor: hsl(var(--hueColor),8%,45%);
    --textColorLighter: hsl(var(--hueColor),8%,65%);
    --inputColor: hsl(var(--hueColor),70%,96%);
    --bodyColor: hsl(var(--hueColor),62%,99%);
    --containerColor: #fff;
    /*scroll bar color*/
    --scrollBarColor:hsl(var(--hueColor),12%,90%);
    --scrollThumbColor:hsl(var(--hueColor),12%,76%);
    /*font*/
    --bodyFont:'Poppins', sans-serif;
    /*size*/
    --bigFontSize:2rem;
    --h1FontSize:1.5rem;
    --h2FontSize:1.3rem;
    --h3FontSize:1.1rem;
    --normalFontSize:1rem;
    --smallFontSize:0.85rem;
    --samallerFontSize:0.75rem;
    /*weight*/
    --fontMedium:500;
    --fontSemiBold:600;
    /*margin bot*/
    --mb025:.25rem;
    --mb05:.5rem;
    --mb075:.75rem;
    --mb1:1rem;
    --mb15:1.5rem;
    --mb2:2rem;
    --mb25:2.5rem;
    --mb3:3rem;

    --zToolTip:10;
    --zFixed:100;
    --zModal:1000;
}
/*dark theme*/
body.dark_theme{
    --firstColorSecond: hsl(var(--hueColor),30%,8%);
    --titleColor: hsl(var(--hueColor),8%,95%);
    --textColor: hsl(var(--hueColor),8%,75%);
    --inputColor: hsl(var(--hueColor),29%,16%);
    --bodyColor: hsl(var(--hueColor),25%,15%);
    --containerColor: #fff;
    --scrollBarColor:hsl(var(--hueColor),12%,46%);
    --scrollThumbColor:hsl(var(--hueColor),12%,36%);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 0;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0 0 var(--headerHeight) 0;
    font-family: var(--bodyFont);
    font-size: var(--normalFontSize);
    background-color: var(--bodyColor);
    color: var(--textColor);
}
h1,h2,h3,h4{
    color: var(--titleColor);
    font-weight: var(--fontSemiBold);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.section{
    padding: 2rem 0 4rem;
}
.section__title{
    font-size: var(--h1FontSize);
    text-align: center;
}
.section__subtitle{
    display: block;
    text-align: center;
    font-size: var(--smallFontSize);
    margin-bottom: var(--mb1);
}
/*end reset and vars*/
.container{
    max-width: 768px;
    margin-left: var(--mb15);
    margin-right: var(--mb15);
}
.grid{
    display: grid;
    gap: var(--mb15);
}
.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--bodyColor);
    z-index: 999999999;
}
/*nav setup*/
.nav{
    max-width: 968px;
    height: var(--headerHeight);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo, 
.nav__toggle{
    color: var(--titleColor);
    font-weight: var(--fontMedium);
}
.nav__logo:hover{
    color: var(--firstColor);
}
.nav__toggle{
    font-size: 1.2rem;
    cursor: pointer;
}
.nav__toggle:hover{
    color: var(--firstColor);
}
.nav__list{
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--smallFontSize);
    color: var(--titleColor);
    font-weight: var(--fontMedium);
}
.nav__link:hover{
    color: var(--firstColor);
}
.nav__icon{
    font-size: 1.2rem;
}
.nav__close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--firstColor);
}
.nav__close:hover{
    color: var(--firstColor);
}
.nav__buttons{
    display: flex;
    align-items: center;
}
.change_theme{
    font-size: 1.25rem;
    color: var(--titleColor);
    margin-right: var(--mb1);
    cursor: pointer;
}
.change_theme:hover{
    columns: var(--firstColor);
}
/*gallery*/
.gallery--container{
    display: grid;
    grid-template-columns: repeat(auto-fill,250px);
    padding: 1rem;
    justify-content: center;
    margin: 0 auto;
}
.gallery--item{
    position: relative;
    margin-bottom: 1rem;
}
.gallery--title{
    position: absolute;
    bottom: 0;
}
.gallery--img{
    width: 230px;
    object-fit: cover;
    border-radius: .5rem;
}
.button--gallery{
    position: absolute;
    bottom: 0;
}
.button{
    display: inline-block;
    background-color: var(--firstColor);
    color: #fff;
    border-radius: .5rem;
    font-weight: medium;
    transition: .5s;
    margin-bottom: .7rem;
    margin-left: .5rem;
    padding: .1rem;
}
.button_flex{
    display: inline-flex;
    align-items: center;
}
.services__button{
    cursor: pointer;
    font-size: small;
}
.services__modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: 99999;
    opacity:0;
    visibility: hidden;
    transition: .4s;
}
.services__modal_content{
    position: relative;
    background-color: white;
    padding: 1.5rem;
    border-radius: .5rem;
    display: grid;
    grid-template-columns: repeat(2, 1 .5fr);
}
.services__modal_servics{
    row-gap: 1rem;
}
.services__modal_service{
    display: flex;
    color: rgba(0,0,0,.5);
}
.services__modal_title{
    font-size: medium;
    font-weight: bold;
    margin: .15rem;
    color: rgba(0,0,0);
}
.services__modal_close{
    position: absolute;
    bottom: 2rem;
    right: 1.5rem;
    font-size: 2rem;
    color: black;
    cursor: pointer;
}
.services__modal_icon{
    color: black;
    margin-right: .25rem;
}
.button:hover{
    transform: translateX(.25rem);
    background-color: var(--firstColorSecond);
}
.active_modal{
    opacity: 1;
    visibility: visible;
}
@media screen and (max-width: 500px){
    .services__modal_content img{
        width: 300px;
    }
}
@media screen and (max-width: 1024px) {
    .services__modal_content img{
        width: 400px;
    }
}

/*footer*/
.footer{
    padding-top: 2rem;
}
.footer__container{
    row-gap: 3.5rem;
}
.footer__bg{
    background-color: var(--firstColorSecond);
    padding: 2rem 0 3rem;
}
.footer__title{
    font-size: var(--h1FontSize);
    margin-bottom: var(--mb025);
}
.footer__subtitle{
    font-size: var(--smallFontSize);
}
.footer__links{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.footer__link:hover{
    color: var(--firstColorlighter);
}
.footer__social{
    display: flex;
    font-size: 1.7rem;
    margin-right: 1.1rem;
    margin-left: 1.1rem;
    justify-content: space-between;
}
.footer__social:hover{
    color: var(--firstColorlighter);
}
.footer__copy{
    font-size: var(--smallFontSize);
    font-weight: var(--fontMedium);
    text-align: center;
    color: var(--textColor);
    margin-top: var(--mb1);
}
.footer__title,
.footer__subtitle,
.footer__link,
.footer__social{
    color: #fff;
}
/*scroll up*/
.scroll__up{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--firstColor);
    opacity: .8;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: 1000;
    transition: .5s;
}
.scroll__up:hover{
    background-color: var(--firstColorAlt);
}
.scroll__up_icon{
    font-size: var(--mb15);
    color: #fff;
}
@media screen and (max-width:767px){
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--bodyColor);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px black;
        border-radius: 1.5rem 1.5rem;
        transition: .6s;
    }
}
@media screen and (min-width:968px){
    :root{
          /*size*/
    --bigFontSize:3rem;
    --h1FontSize:2.2rem;
    --h2FontSize:1.5rem;
    --h3FontSize:1.3rem;
    --normalFontSize:1rem;
    --smallFontSize:0.85rem;
    --samallerFontSize:0.75rem;
    }
}
@media screen and (min-width:768px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    .body{
        margin: 0;
    }
    .section{
        padding: 6rem 0 2rem;
    }
    .section__subtitle{
        margin-bottom: 5rem;
    }
    .header{
        top: 0;
        bottom: initial;
    }
    .header,
    .main,
    .footer__container{
        padding: 0 1rem;
    }
    .nav{
        height: calc(var(--headerHeight) + 1.5rem);
        column-gap: 1rem;
    }
    .nav__close,
    .nav__icon,
    .nav__toggle{
        display: none;
    }
    .nav__list{
        display: flex;
        column-gap: 2rem;
        padding-bottom: .85rem;
    }
    .nav__menu{
        margin-left: auto;
        margin-top: .8rem;
    }
    .change_theme{
        margin: 1rem;
    }
    .home__scroll_button{
        margin-left: 3rem;
    }
    .footer__container{
        grid-template-columns: repeat(3, 1fr);
    }
    .footer__bg{
        padding: 3rem 0 3.5rem;
        position: relative;
        bottom: -48px;
    }
    .footer__social{
        margin: 0;
    }
    .footer__links{
        flex-direction: row;
        column-gap: 1rem;
    }
}
/*jsDoM*/
.showMenu{
    bottom: 0;
}
.active_link{
    color: var(--firstColor);
}
.scroll_header{
    box-shadow: 0 -4px 4px rgba(0,0,0,.15);
}
.show_scroll{
    bottom: 5rem;
}
.active_modal{
    opacity: 1;
    visibility: visible;
}
/*webKit*/
::-webkit-scrollbar{
    width: .65rem;
    background-color: var(--scrollBarColor);
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb{
    background-color: var(--scrollThumbColor);
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--textColorLighter);
}
